<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90c9c3">  <td>19/06/07 17:19:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BasePage.openBrowser()[pri:0, instance:TestCase.HomePageTestCase@4501b7af]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td>  <td>main@1164371389</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>19/06/07 17:19:50</td>   <td>6974</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestCase.testCase()[pri:0, instance:TestCase.HomePageTestCase@4501b7af]">testCase</td> 
  <td>main@1164371389</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>19/06/07 17:19:53</td>   <td>10524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BasePage.closeBrowser()[pri:0, instance:TestCase.HomePageTestCase@4501b7af]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1164371389</td>   <td></td> </tr>
</table>
